.h1-fluid {
    font-size: clamp(28px, 5vw + 1rem, 3rem);
}



.section-heading-fluid {
    font-size: clamp(28px, 4vw, 48px);

}



.fluid-18 {
    font-size: clamp(14px, 2vw, 18px);
}

.fluid-40 {
    font-size: clamp(24px, 5vw, 40px)
}


.fluid-w-1326 {
    min-width: clamp(358px, 30vw + 500px, 1326px);

}