@import "tailwindcss";


:root {
  --background: var(--grey-10);
  --foreground: #fff;
  --grey-10: #191919;
  --grey-11: #1C1C1C;
  --grey-15: #262626;
  --grey-30: #4C4C4D;
  --grey-35: #59595A;
  --grey-70: #B3B3B3;
  --green-60: #CAFF33;
  --white-90: #E4E4E7;
}



@theme inline {
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 52rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1920px;

  --color-grey-10: var(--grey-10);
  --color-grey-11: var(--grey-11);
  --color-grey-15: var(--grey-15);
  --color-grey-30: var(--grey-30);
  --color-grey-35: var(--grey-35);
  --color-grey-70: var(--grey-70);

  --color-green-60: var(--green-60);

  --color-white-90: var(--white-90);


  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lexend: var(--font-lexend);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--grey-10);
    --foreground: #fff;
    --grey-10: #191919;
    --grey-11: #1C1C1C;
    --grey-15: #262626;
    --grey-30: #4C4C4D;
    --grey-35: #59595A;
    --grey-70: #B3B3B3;
    --green-60: #CAFF33;
    --white-90: #E4E4E7;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
}

.custom-rounded {
  border-radius: 82px;
}

.custom-border {
  border: 1px solid var(--grey-15);
}

.custom-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-section-gap {
  gap: clamp(50px, 1vh, 80px);
}

.custom-page-gap {
  gap: clamp(20px, 4vw, 100px);
}

.linear-shadow-filter {
  background: rgb(25, 25, 25);
  background: linear-gradient(180deg, rgba(25, 25, 25, 0.1) 72%, rgba(25, 25, 25, 1) 95%);
}

.radial-shadow-filter {
  background: rgb(25, 25, 25);
  background: radial-gradient(circle, rgba(25, 25, 25, 0) 39%, rgba(25, 25, 25, 1) 100%);
}